---
import CallToAction from "@/components/override/CallToAction.astro";

interface Props {
    componentName: string;
    ariaLink: string;
}

const { componentName, ariaLink } = Astro.props;
---

<div class="not-content flex flex-wrap gap-2">
    <CallToAction
        link={`https://github.com/NiklasBurggraaff/svelte-runia/tree/main/packages/svelte-runia/src/lib/${componentName}`}
        variant="minimal"
        icon={{ type: "icon", name: "github" }}
        attrs={{ class: "py-1" }}
    >
        View source
    </CallToAction>
    <CallToAction
        link={ariaLink}
        variant="minimal"
        icon={{ type: "icon", name: "external" }}
        attrs={{ class: "py-1" }}
    >
        ARIA design pattern
    </CallToAction>
    <CallToAction
        link={`https://github.com/NiklasBurggraaff/svelte-runia/issues/new`}
        variant="minimal"
        icon={{ type: "icon", name: "error" }}
        attrs={{ class: "py-1" }}
    >
        Report an issue
    </CallToAction>
</div>
