---
interface Props {
    code: string;
    class?: string;
}

const { code, class: className = undefined } = Astro.props;
---

<code class={className}>
    {
        code.split(" ").map((word) => (
            <>
                <span class="whitespace-nowrap">{word}</span>{" "}
            </>
        ))
    }
</code>
