---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";

import { Card, Code, TabItem, Tabs } from "@astrojs/starlight/components";
import NpmCommand from "../components/NpmCommand.astro";
import CallToAction from "../components/override/CallToAction.astro";
import Accordion from "./_examples/Accordion.svelte";
import ExampleCard from "./_examples/ExampleCard.astro";

const componentCode = `
<script lang="ts">
    import { Button } from "@niklasburggraaff/svelte-runia";
</script>

<Button>Click me</Button>
`;
const componentMarks = [
    `import { Button } from "@niklasburggraaff/svelte-runia";`,
    `<Button>Click me</Button>`
];

const componentStyledCode = `
<script lang="ts">
    import { Button } from "@niklasburggraaff/svelte-runia";
</script>

<Button class="bg-blue-500">Click me</Button>
`;
const componentStyledMarks = [`class="bg-blue-500"`];
---

<StarlightPage
    frontmatter={{
        title: "Your <span class='text-runic-gradient'>Mystical</span> UI Library",
        description: "Get started building your docs site with Starlight.",
        template: "splash",
        hero: {
            tagline:
                "Next-generation Svelte components. Accessible, Style-free, and <span class='text-runic-gradient'>Runic</span>!",
            actions: [
                {
                    text: "Introduction",
                    link: "/guides/introduction/",
                    icon: "right-arrow",
                    variant: "primary"
                },
                {
                    text: "Component docs",
                    link: "/components/overview",
                    icon: "seti:html",
                    variant: "secondary"
                }
            ]
        }
    }}
>
    <div class="not-content">
        <div class="flex gap-4 overflow-x-auto">
            <ExampleCard title="Accordion" slug="accordion">
                <div class="w-full">
                    <Accordion client:load />
                </div>
            </ExampleCard>
            <ExampleCard title="Dialog" slug="dialog">
                <Tabs class="tabs">
                    <TabItem label="World" icon="laptop"> Hello </TabItem>
                    <TabItem label="Item" icon="error"> Goodbye </TabItem>
                </Tabs>
            </ExampleCard>
            <ExampleCard title="Dropdown Menu" slug="dropdown-menu">
                <Tabs class="tabs">
                    <TabItem label="World" icon="laptop"> Hello </TabItem>
                    <TabItem label="Item" icon="error"> Goodbye </TabItem>
                </Tabs>
            </ExampleCard>
            <ExampleCard title="Popover" slug="popover">
                <Tabs class="tabs">
                    <TabItem label="World" icon="laptop"> Hello </TabItem>
                    <TabItem label="Item" icon="error"> Goodbye </TabItem>
                </Tabs>
            </ExampleCard>
            <ExampleCard title="Slider" slug="slider">
                <Tabs class="tabs">
                    <TabItem label="World" icon="laptop"> Hello </TabItem>
                    <TabItem label="Item" icon="error"> Goodbye </TabItem>
                </Tabs>
            </ExampleCard>
            <ExampleCard title="Tabs" slug="tabs">
                <Tabs class="tabs">
                    <TabItem label="World" icon="laptop"> Hello </TabItem>
                    <TabItem label="Item" icon="error"> Goodbye </TabItem>
                </Tabs>
            </ExampleCard>
            <ExampleCard title="Radio Group" slug="radio-group">
                <Tabs class="tabs">
                    <TabItem label="World" icon="laptop"> Hello </TabItem>
                    <TabItem label="Item" icon="error"> Goodbye </TabItem>
                </Tabs>
            </ExampleCard>
            <ExampleCard title="Toggle Group" slug="toggle-group">
                <Tabs class="tabs">
                    <TabItem label="World" icon="laptop"> Hello </TabItem>
                    <TabItem label="Item" icon="error"> Goodbye </TabItem>
                </Tabs>
            </ExampleCard>
            <ExampleCard title="Switch" slug="switch">
                <Tabs class="tabs">
                    <TabItem label="World" icon="laptop"> Hello </TabItem>
                    <TabItem label="Item" icon="error"> Goodbye </TabItem>
                </Tabs>
            </ExampleCard>
            <Card title="Many more...">
                <div
                    class="flex h-72 w-72 flex-col justify-center overflow-y-auto overflow-x-clip align-middle"
                >
                    See the component docs for more examples
                    <div class="mx-auto w-fit">
                        <CallToAction
                            link="/components/overview"
                            icon={{ type: "icon", name: "seti:html" }}
                            variant="primary"
                        >
                            View docs
                        </CallToAction>
                    </div>
                </div>
            </Card>
        </div>
    </div>

    <h2 class="text-center">Getting started is easy as</h2>
    <div class="pt-8"></div>
    <div class="not-content">
        <div class="grid grid-cols-[auto,auto] gap-8">
            <div class="flex flex-col items-end justify-start gap-2">
                <div class="bg-accent h-8 w-8 rounded-full border-2 text-center font-mono text-lg">
                    1
                </div>
                <div class="text-lg">Install the package</div>
            </div>
            <div class="max-w-xl">
                <NpmCommand
                    command={{ type: "install", package: "@niklasburggraaff/svelte-runia" }}
                />
            </div>
            <div class="flex flex-col items-end justify-start gap-2">
                <div class="bg-accent h-8 w-8 rounded-full border-2 text-center font-mono text-lg">
                    2
                </div>
                <div class="text-lg">Import and use a component</div>
            </div>
            <div class="max-w-xl">
                <Code
                    code={componentCode}
                    title="Component.svelte"
                    lang="svelte"
                    mark={componentMarks}
                />
            </div>
            <div class="flex flex-col items-end justify-start gap-2">
                <div class="bg-accent h-8 w-8 rounded-full border-2 text-center font-mono text-lg">
                    3
                </div>
                <div class="text-lg">Make it yours</div>
            </div>
            <div class="max-w-xl">
                <Code
                    code={componentStyledCode}
                    title="Component.svelte"
                    lang="svelte"
                    mark={componentStyledMarks}
                />
            </div>
        </div>
    </div>
</StarlightPage>
