---
import { TabItem, Tabs } from "@astrojs/starlight/components";
---

<Tabs>
    <TabItem label="Code" icon="seti:svelte">
        <slot name="code" />
    </TabItem>
    <TabItem label="Preview" icon="laptop">
        <div class="bg-runic-gradient flex items-center justify-center rounded-3xl p-8 sm:p-16">
            <div class="w-96 rounded-xl bg-[var(--sl-color-bg)] p-8">
                <slot name="preview" />
            </div>
        </div>
    </TabItem>
</Tabs>
