---
import type { Props } from "@astrojs/starlight/props";

const href = Astro.props.locale || "/";
---

<a {href} class="site-title sl-flex">
    <div>
        Svelte
        <span class="font-runic runic-gradient">ᚱᚢᚾᛁᚨ</span>
    </div>
</a>

<style>
    .site-title {
        align-items: center;
        gap: var(--sl-nav-gap);
        font-size: var(--sl-text-h4);
        font-weight: 600;
        color: var(--sl-color-white);
        text-decoration: none;
        white-space: nowrap;
    }
</style>
